#about {
    background: white;

}

.resume-height {
    height: 350px;
}
.skill-image {
    max-height: 80px;
}
.skill-item .web-dev {
    color: #ffc107;
}
.skill-cover {
    background-color: #f0f0f0;
}
#awards {
    background: white;
}